{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RuhCart</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'category_list' %}">Home</a>

        {% if user.is_authenticated %}
            {% if user.role == 'seller' %}
                <a href="{% url 'seller_dashboard' %}">Seller Dashboard</a>
                <a href="{% url 'add_product' %}">Add Product</a>
                <a href="{% url 'seller_orders' %}">Seller Orders</a>
                <a href="{% url 'cart_detail' %}">Cart</a>
                <a href="{% url 'order_history' %}">Orders</a>
                <a href="{% url 'profile' %}">Profile</a>
            {% else %}
                <a href="{% url 'cart_detail' %}">Cart</a>
                <a href="{% url 'order_history' %}">Orders</a>
                <a href="{% url 'profile' %}">Profile</a>
            {% endif %}

            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
