{% extends 'base.html' %}
{% block content %}

<div class="home-container">
  <h1>Shop by Category</h1>

  <div class="category-grid">
    {% for category in categories %}
      <div class="category-card">
        <a href="{% url 'product_list' slug=category.slug %}">
          {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}">
          {% else %}
            <img src="https://via.placeholder.com/150" alt="No Image">
          {% endif %}
          <h3>{{ category.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
