{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-container">
  <h1>Shop by Category</h1>

  <div class="category-grid">
    {% for category in categories %}
      <div class="category-card">
        <a href="{% url 'product_list' slug=category.slug %}">
          <img src="{% static 'category_images/'|add:category.slug|add:'.jpg' %}" alt="{{ category.name }}">
          <h3>{{ category.name }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
